- image1 = 'img/alta/area-bar.jpg'
- image2 = 'img/alta/arepa.jpg'
- image3 = 'img/alta/batido.jpg'
- image4 = 'img/alta/cachito.jpg'
- image5 = 'img/alta/cafe.jpg'
- image6 = 'img/alta/carne.jpg'
- image7 = 'img/alta/cereal.jpg'
- image8 = 'img/alta/cereza.jpg'
- image9 = 'img/alta/choco.jpg'
- image10 = 'img/alta/corona.jpg'
- image11 = 'img/alta/cuadrado.jpg'
- image12 = 'img/alta/envivo.jpg'
- image13 = 'img/alta/evento.jpg'
- image14 = 'img/alta/granola.jpg'
- image15 = 'img/alta/hamburguesa.jpg'
- image16 = 'img/alta/jugo.jpg'
- image17 = 'img/alta/mora.jpg'
- image18 = 'img/alta/noodle.jpg'
- image19 = 'img/alta/pasta.jpg'
- image20 = 'img/alta/orange.jpg'


.row.row-gallery.m-5
    .column
        img.img-fluid.rounded.zoom(src=image1, style='width:100%')  
        img.img-fluid.rounded.zoom(src=image2, style='width:100%')
        img.img-fluid.rounded.zoom(src=image3, style='width:100%')
        img.img-fluid.rounded.zoom(src=image4, style='width:100%')
        img.img-fluid.rounded.zoom(src=image17, style='width:100%')
        
    .column
        img.img-fluid.rounded.zoom(src=image5, style='width:100%')
        img.img-fluid.rounded.zoom(src=image6, style='width:100%')
        img.img-fluid.rounded.zoom(src=image7, style='width:100%')
        img.img-fluid.rounded.zoom(src=image8, style='width:100%')
        img.img-fluid.rounded.zoom(src=image18, style='width:100%')
    .column
        img.img-fluid.rounded.zoom(src=image9, style='width:100%')
        img.img-fluid.rounded.zoom(src=image10, style='width:100%')
        img.img-fluid.rounded.zoom(src=image11, style='width:100%')
        img.img-fluid.rounded.zoom(src=image12, style='width:100%')
        img.img-fluid.rounded.zoom(src=image19, style='width:100%')
    .column
        img.img-fluid.rounded.zoom(src=image13, style='width:100%')
        img.img-fluid.rounded.zoom(src=image14, style='width:100%')
        img.img-fluid.rounded.zoom(src=image15, style='width:100%')
        img.img-fluid.rounded.zoom(src=image16, style='width:100%')
        img.img-fluid.rounded.zoom(src=image20, style='width:100%')