- image1 = 'img/agrumes-2.png'
- image2 = 'img/burger-boeuf-seul.png'
- image3 = 'img/muffin-4.png'
- image4 = 'img/oeuf.png'
- image5 = 'img/salade-lentilles.png'
- image6 = 'img/sushis.png'
- image7 = 'img/wasabi.png'
- image8 = 'img/res_extra'
- image9 = 'img/panier-frites.png'
- image10 = 'img/verre.png'



.row.row-gallery.m-5
    .column
        img.img-fluid.rounded.zoom(src=image1, style='width:100%')  
        img.img-fluid.rounded.zoom(src=image2, style='width:100%')
        img.img-fluid.rounded.zoom(src=image3, style='width:100%')
        
    .column
        img.img-fluid.rounded.zoom(src=image5, style='width:100%')
        img.img-fluid.rounded.zoom(src=image6, style='width:100%')
        img.img-fluid.rounded.zoom(src=image7, style='width:100%')
        
    .column
        img.img-fluid.rounded.zoom(src=image9, style='width:100%')
        img.img-fluid.rounded.zoom(src=image10, style='width:100%')
        img.img-fluid.rounded.zoom(src=image3, style='width:100%')
    .column
        img.img-fluid.rounded.zoom(src=image4, style='width:100%')
        img.img-fluid.rounded.zoom(src=image8, style='width:100%')
        img.img-fluid.rounded.zoom(src=image1, style='width:100%')  
